<h1>Services</h1>

<% if @showing_all %>
  <%= link_to 'Show Future', services_path %>
<% else %>
  <%= link_to 'Show All', services_path(all: true) %>
<% end %>
<p></p>
<p></p>
<table>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.label, service %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
