<p id="notice"><%= notice %></p>

<h1>Service Songs</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Song</th>
    </tr>
  </thead>

  <tbody>
    <% @service_songs.each do |service_song| %>
      <tr>
        <td><%= link_to "#{service_song.service.label} (#{service_song.service_song_type.name})", service_song.service %></td>
        <td><%= link_to service_song.song.name, service_song.song %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Song', new_service_song_path %>
